<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="row">
<div class="icon">
        
    <mat-form-field class="search" >
  
        <input matInput  type="search" placeholder="search" #search>
  
    </mat-form-field >
    
        <button  class="srch" (click)="onSearch(search.value)"><mat-icon class="ico">search_icon</mat-icon></button>
  
  
    </div>


    <div class="row row-cols-1 row-cols-md-3">
        <div class="col-mb-4" *ngFor="let card of datcrd || [] ">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title >{{card.title}}</mat-card-title>
                  
                </mat-card-header>
                
                <img class="img"  mat-card-image src="{{card.image}}" >
                <mat-card-content class="des">
                {{card.ratting}} 
                   
    
                </mat-card-content>
                {{card.available}} 
                
                <mat-card-content>
                  
    
                 
    
                </mat-card-content>
                 <mat-card-content>
                  
    
                  
    
                </mat-card-content>
    
                <button class="BTN" mat-button (click)="detail(card.id)" ><span class="material-symbols-rounded">
                    info
                    </span></button>
    
    
                    <button mat-button  (click)="star(card)"><mat-icon class="dark">{{card.wishlist ? 'star':'star_outline'}}</mat-icon></button>
              </mat-card>
    
    
    
             
        
        </div>
    </div>

</div>
